/*-----------------*/
/* Loading Styling */
/*-----------------*/

/* .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    height: 100vh;
    width: 100vw;
} */

.content {
    /* display: none; */
    /* background-color: #212121;
    color: #ffffff; */
    margin-left: 16px;
    margin-right: 16px;
}

.content-header {
    background-color: #212121;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

html {
    background-color: #212121;
    color: #ffffff;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    -o-appearance:      none;
    appearance:         none;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 700;
	padding: 4px;
	background-color: #d9d9d9;
	border: none;
	border-radius: 0;
	outline: none;
    margin-bottom: 8px;
    width: 768px;
}



/* Nav Styling */
.nav {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.nav > div {
    margin-left: 16px;
}

.nav > div:first-of-type {
    margin-left: 0px;
}

/* .nav.stick {
    position: relative; */
    /* top: 20px; */

    /* top: 10px; */
    /* font-size: 32px; */
/* } */



/* header styling */
.header {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 75px;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.header div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header .left {
    justify-content: flex-start;
}

.header .center {
    justify-content: center;
}

.header .right {
    justify-content: flex-end;
}

.header .headshot {
    height: 160px;
    width: 180px;
}

.header .sticker {
    width: 215px;
    height: 115px;
}

/* .header.stick {
    position: relative; */
    /* top: 0;
    right: 24px; */
    /* width: 50%; */
    /* font-size: 32px;
} */

/* .header.stick .headshot {
    height: 64px;
    width: 72px;
}

.header.stick .sticker {
    width: 86px;
    height: 46px;
} */



/* title styling */
.title {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 96px;
    /* font-size: 175px; */
    font-weight: 900;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.title div {
    width: auto;
    text-align: center;
    /* padding-bottom: 8px; */
    border-bottom: 5px solid #ffffff;
    margin-bottom: 32px;
}


/* .title.stick {
    position: relative; */
    /* top: 44px; */
    /* font-size: 64px;
    width: 100%;
} */

/**********************/
/* CD Contact styling */
/**********************/

.content-body {
    font-family: 'Proxima Nova', sans-serif;
}

.content-body .info {
    font-size: 40px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-body .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 128px;
}

.content-body .form .submit {
    padding: 8px;
    width: 776px;
}

.content-body .form .submit:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
}




/*************************/
/* CB Image grid styling */
/*************************/

.content-body .row {
    display: grid;
    grid-template-rows: 1fr;
}

.content-body .row .item {
    margin: 8px;
}

.content-body .row .item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.content-body .row.single {
    grid-template-columns: 1fr;
}

.content-body .row.double {
    grid-template-columns: 1fr 1fr;
}

.content-body .row.triple {
    grid-template-columns: 1fr 1fr 1fr;
}

.content-body .row.triple-left {
    grid-template-columns: 34.5% 65.5%;
}

.content-body .row.triple-left .left {
    grid-template-rows: 1fr 1fr;
}

.content-body .row.triple-right {
    grid-template-columns: 65.5% 34.5%;
}

.content-body .row.triple-right .right {
    grid-template-rows: 1fr 1fr;
}