/*-----------------*/
/* Loading Styling */
/*-----------------*/

/* .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    height: 100vh;
    width: 100vw;
} */

.content {
    /* display: none; */
    /* background-color: #212121;
    color: #ffffff; */
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Proxima Nova', sans-serif;
}

.content-header {
    background-color: #212121;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

html {
    background-color: #212121;
    color: #ffffff;
}

body {
    margin-bottom: 0px;
    /* overflow: hidden; */
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    -o-appearance:      none;
    appearance:         none;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 700;
	padding: 4px;
	background-color: #d9d9d9;
	border: none;
	border-radius: 0;
	outline: none;
    margin-bottom: 8px;
    /* width: 768px; */
}



/* Nav Styling */
.nav {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.nav > div {
    margin-left: 16px;
}

.nav > div:first-of-type {
    margin-left: 0px;
}

.index-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    font-weight: 900;
    font-size: 35px;
}

.index-nav > .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-nav > .nav-logo > a > img {
    height: 80px;
    width: 304px;
}

.index-nav > .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-nav > .nav-links > div {
    width: 104px;
    margin: 0 12px 0 12px;
}

.index-nav > .nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.index-nav > .nav-contact > div {
    color: #000000;
    background-color: #d9d9d9;
    border-radius: 16px;
    padding: 8px 16px;
}

/* .nav.stick {
    position: relative; */
    /* top: 20px; */

    /* top: 10px; */
    /* font-size: 32px; */
/* } */



/* header styling */
.header {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 75px;
    font-weight: 900;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.header div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header .left {
    justify-content: flex-start;
}

.header .center {
    justify-content: center;
}

.header .right {
    justify-content: flex-end;
}

.header .headshot {
    height: 160px;
    width: 180px;
}

.header .sticker {
    width: 215px;
    height: 115px;
}

/* .header.stick {
    position: relative; */
    /* top: 0;
    right: 24px; */
    /* width: 50%; */
    /* font-size: 32px;
} */

/* .header.stick .headshot {
    height: 64px;
    width: 72px;
}

.header.stick .sticker {
    width: 86px;
    height: 46px;
} */



/* title styling */
.title {
    /* font-family: 'Proxima Nova', sans-serif; */
    font-size: 96px;
    /* font-size: 175px; */
    font-weight: 900;
    transition:all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}

.title div {
    width: auto;
    text-align: center;
    /* padding-bottom: 8px; */
    border-bottom: 5px solid #ffffff;
    margin-bottom: 32px;
}


/* .title.stick {
    position: relative; */
    /* top: 44px; */
    /* font-size: 64px;
    width: 100%;
} */
/********************/
/* CD Index styling */
/********************/

.content-body .stand-out {
    margin-top: 64px;
}

.content-body .stand-out .big {
    font-size: 80px;
    font-weight: 900;
    line-height: 90%;
}

.content-body .stand-out .small {
    font-size: 32px;
    line-height: 100%;
    font-weight: 100;
}

.content-body .device {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.content-body .device div img {
    width: 904px;
    height: 658px;
}

.content-body .gallery-link {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 900;
    padding: 80px 0;
    margin-top: 64px;
}

.content-body .gallery-link:hover {
    box-shadow: 0 0 16px #000000;
}

.content-body .gallery-link div {
    text-align: center;
}

.content-body .bio {
    font-size: 32px;
    font-weight: 100;
}

.content-body .bio div { 
    margin-top: 32px;
}

.content-body .bio div:first-of-type { 
    margin-top: 64px;
}

.content-body .bio .half {
    width: 50%;
}

.content-body .bio .full {
    margin-bottom: 64px;
}





/**********************/
/* CD Contact styling */
/**********************/

.content-body {
    /* font-family: 'Proxima Nova', sans-serif; */
}

.content-body .info {
    margin-top: 64px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-body .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 128px;
}

.content-body .form .submit {
    padding: 8px;
    width: 776px;
}

.content-body .form .submit:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
}




/*************************/
/* CB Image grid styling */
/*************************/

.content-body .row {
    display: grid;
    grid-template-rows: 1fr;
}

.content-body .row .item {
    margin: 8px;
}

.content-body .row .item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.content-body .row.single {
    grid-template-columns: 1fr;
}

.content-body .row.double {
    grid-template-columns: 1fr 1fr;
}

.content-body .row.triple {
    grid-template-columns: 1fr 1fr 1fr;
}

.content-body .row.triple-left {
    grid-template-columns: 34.5% 65.5%;
}

.content-body .row.triple-left .left {
    grid-template-rows: 1fr 1fr;
}

.content-body .row.triple-right {
    grid-template-columns: 65.5% 34.5%;
}

.content-body .row.triple-right .right {
    grid-template-rows: 1fr 1fr;
}




/***************/
/* Main footer */
/***************/

.content-footer {
    margin-top: 64px;
}

.main-footer {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 472px 1fr;
    grid-template-rows: auto;
}

.main-footer .right {
    padding-left: 48px;
}
@media (max-width: 1032px) {
    .main-footer .right {
        padding-left: 0px;
    }
}

.main-footer .right {
    display: grid;
    grid-template-columns: auto auto auto;
}

.main-footer .right div div {
    font-size: 10px;
    margin-bottom: 12px;
}

.main-footer .right .section-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.main-footer .socials {
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-footer .socials a {
    font-size: 20px;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-right: 8px;
}

/* .footer-form form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
} */
.footer-form form {
    display: flex;
    flex-direction: column;
    width: auto;
}

.footer-form form div {
    display: flex;
}

.footer-form form div div:first-of-type {
    margin-right: 16px;
}

.footer-form form div div {
    display: flex;
    flex-direction: column;
}

.footer-form .footer-submit {
    width: auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #212121;
    font-size: 12px;
    padding: 8px 0 8px 0;
    cursor: pointer;
}

.footer-form label {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 24px;
}

/* .footer-form .footer-submit {
    grid-column: 1/-1;
} */

.slim-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
}

.slim-footer div {
    padding: 12px;
    font-size: 12px;
}

.fine-print {
    font-size: 10px;
    margin-bottom: 4px;
}

.back-to-top {
    cursor: pointer;
    font-weight: 900;
}